html,body {
  color: $main;
  font-family: $font-stack;
  font-size: 200%;

  @media screen and (max-width: $screen-med) {
    font-size: 120%;
  }
}

a {
  color: $main;
  text-decoration: none;
  border-bottom: 1px solid $main;

  &:hover {
    border-color: tomato;
    color: tomato;
  }
}
