// typography
$font-stack: 'STIX Two Text', helvetica, arial, sans-serif;

// SPACING
$baseline: 32px;

// COLOUR
$main: #333;
$accent: #4c4c4c;
$sage: #A7A88A;
$cream: #FFF3E7;


// SIZES
$screen-med: 700px;
$screen-small: 480px;
